.cont_mensages {
  display: grid;
  grid-template-columns: 50% 50%;
}

.Notificaio_Push {
  width: 400px;
  height: auto;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
