.noData {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noData p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
  color: black;
}
