.modal_content {
  width: 100%;
}

.portada {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portada img {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 260px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: center center;
}

.avatar_cont {
  margin-top: -75px;
}

.form_cont {
  margin: 20px 30px;
  padding: 50px 0px;
}

.input_style {
  height: 50px;
  border-radius: 100px;
  background-color: #e3e3e3;
}

.primary_btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #90c33c;
  color: white;
  cursor: pointer;
}
