.imagen img {
  width: 200px;
  height: 70px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.imagen_prod_add {
  width: 450px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  border-radius: 15px;
}
