.boolean_content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem;
}

.imagen_prod_add {
  width: 450px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.imagen_prod_add_logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}
