.report_cont {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    align-self: center;
    margin: 50px auto;
    box-shadow: 8px 6px 30px rgba(182, 182, 182, 0.2);
}