.header {
  display: flex;
  align-items: center;
}
.logo_main {
  float: left;
  width: 120px;
  margin: 30px 30px 30px 0;
}

.logo_main img {
  width: 120px;
  object-fit: cover;
  object-position: center center;
}

.logout {
  width: 250px;
  height: 40px;
  margin-left: auto;
  display: flex;
}

.my-user {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout button {
  height: 40px;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #f5365c;
  color: white;
}

.ant-row-rtl .logo_main {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
  min-height: 75vh !important;
}
