.code-box-demo {
  overflow-x: auto;
}

.code-box-demo .ant-segmented {
  margin-bottom: 10px;
}

.items_mensage {
  width: 400px;
  background-color: #8fc33c31;
  padding: 20px;
  border-radius: 20px;
}

.items_mensage_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_mensage h1 {
  color: #8fc33c;
  font-weight: bold;
  font-size: 1.5rem;
}

.items_mensage p {
  color: #8fc33c;
  font-weight: 400;
}
