.Login_Container {
  margin: 0;
  padding: 0;
  background-color: #2d2861;
  background-image: url("../../Assets/image/franja.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: right;
  width: 100%;
  height: 100vh;
}

.Login_Container img {
  width: 180px;
  margin-top: 30px;
  margin-left: 50px;
  position: absolute;
}

.Login_Box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box {
  background-color: white;
  width: 350px;
  height: 300px;
  border-radius: 25px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Box input,
select {
  width: 96%;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #cecece;
  background-color: #e3e3e3;
  font-family: "Poppins";
  font-weight: 200;
  color: #949494;
  font-size: 18px;
  padding-left: 10px;
  outline: none;
  margin-bottom: 20px;
}

.Box a {
  color: #90c33c;
  border: none;
  text-decoration: none;
  text-align: right !important;
  margin-top: 30px;
}

.Box button {
  width: 96%;
  height: 50px;
  border-radius: 100px;
  background-color: #90c33c;
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}
