.rating_content {
  width: 100%;
  justify-content: center;
  display: flex;
}

.rating_content_form {
  background-color: white;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(192, 192, 192, 0.5);
  padding: 20px;
  border-radius: 15px;
}
